# Datebase
.db/

# Non official package lock
yarn.lock

# Node dependencies
node_modules/

# Typescript output
dist/

# Reminder copies
.db_reminders/

# User configuration
config.ini

# FTP debugging related
.ftpconfig
.ftpignore

# Local test files
test_local/

# Intent training utterances
bundle_backup/
